#footer {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 50px 5vw 150px;
}

#footer-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;

    >div {
        padding: 1rem 1.4rem;
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

#footer-logo a {
    text-decoration: none;
    color: inherit;
}

#footer h3#footer-logo {
    margin-top: 0;
    padding-top: 0;
}

#footer a {
    text-decoration: none;
}