#hero {
    display: grid;
    padding: 5vh 10vw 12vh;
    justify-content: center;
}

h1 {
    font-weight: 500;
}

h2 {
    padding-top: 0;
    font-weight: 500;
}

#home-about {
    background-color: #dae2ed;
    padding: 10vh 10vw;
}

#hero h2 {
    font-weight: 400;
}

#home-about .section-inner-wrapper {
    max-width: 600px;
    margin: auto;
}

#home-posts {
    padding: 10vh 5vw;
    background-color: #e2e8f0;

    h2 {
        margin-bottom: 50px;
    }
}

.posts-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    max-width: 1200px;
    margin: auto;

    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card-post {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;

    h3 {
        padding-top: 0;
    }

    p {
        padding-top: 20px;
        padding-bottom: 0;
    }
}